@import variables

.container
  font-family: 'mulish-regular', sans-serif
  height: 100%
  transition: all .5s

::ng-deep .p-menu
  background: $base-color
  .p-submenu-header
    background: $base-color
