<div style="height: 100%;">
  <cow-section-title
    mainSection="Apontamentos"
    subSection="Novo">
  </cow-section-title>

  <div class="section">
    <form [formGroup]="newStatementForm" (ngSubmit)="handleCreateStatement()">

      <cow-input
        type="text"
        placeholder="Titulo"
        formControlName="title">
        <span *ngIf="
          newStatementForm.get('title')?.touched &&
          newStatementForm.get('title')?.hasError('required')"
          error-message class="error-message">
          Campo obrigatório
        </span>

        <span *ngIf="
          newStatementForm.get('title')?.touched &&
          newStatementForm.get('title')?.hasError('maxlength') ||
          newStatementForm.get('title')?.hasError('minlength')"
          error-message class="error-message">
          Campo deve ter entre 4 e 20 caracteres
        </span>
      </cow-input>

      <cow-input
        type="text"
        placeholder="Descrição"
        formControlName="description">
        <span *ngIf="
          newStatementForm.get('description')?.touched &&
          newStatementForm.get('description')?.hasError('maxlength')"
          error-message class="error-message">
          Campo não deve ultrapassar de 40 caracteres
        </span>
      </cow-input>

      <cow-input
        type="text"
        mask="0000"
        suffix="x"
        placeholder="Total de parcelas"
        hint="Para apontamentos pagos a vista (1x) apenas coloque 1"
        [removeSpecialCharacters]="true"
        formControlName="installment">
        <span *ngIf="
          newStatementForm.get('installment')?.touched &&
          newStatementForm.get('installment')?.hasError('required')"
          error-message class="error-message">
          Campo obrigatório
        </span>

        <span *ngIf="
          newStatementForm.get('installment')?.touched &&
          newStatementForm.get('installment')?.hasError('min')"
          error-message class="error-message">
          Valor do parcelamento deve ser 1 (A vista) ou mais.
        </span>
      </cow-input>

      <div formGroupName="startDate" class="date-container">
        <cow-input
          type="text"
          mask="00"
          placeholder="Mês em que o pagamento se inicia"
          [hint]="monthHint"
          formControlName="month">
          <span *ngIf="
            newStatementForm.get('startDate')?.get('month')?.touched &&
            newStatementForm.get('startDate')?.get('month')?.hasError('required')"
            error-message class="error-message">
            Campo obrigatório
          </span>
          <span *ngIf="
            newStatementForm.get('startDate')?.get('month')?.touched &&
            (
              newStatementForm.get('startDate')?.get('month')?.hasError('minlength') ||
              newStatementForm.get('startDate')?.get('month')?.hasError('pattern') ||
              newStatementForm.get('startDate')?.get('month')?.hasError('invalidMonth')
            )"
            error-message class="error-message">
            Mês incorreto
          </span>
        </cow-input>

        <cow-input
          type="text"
          mask="0000"
          placeholder="Ano em que o pagamento se inicia"
          hint="Ex: 2010"
          formControlName="year">
          <span *ngIf="
            newStatementForm.get('startDate')?.get('year')?.touched &&
            newStatementForm.get('startDate')?.get('year')?.hasError('required')"
            error-message class="error-message">
            Campo obrigatório
          </span>
          <span *ngIf="
            newStatementForm.get('startDate')?.get('year')?.touched &&
            (
              newStatementForm.get('startDate')?.get('year')?.hasError('minlength') ||
              newStatementForm.get('startDate')?.get('year')?.hasError('min')
            )"
            error-message class="error-message">
            Ano incorreto
          </span>
        </cow-input>
      </div>

      <cow-input
        type="text"
        mask="separator"
        [prefix]="newStatementForm.get('amount')?.dirty ? 'R$ ' : ''"
        placeholder="Valor total"
        hint="Para adicionar centavos, basta adicionar uma virgula com o valor"
        [removeSpecialCharacters]="true"
        formControlName="amount">
        <span *ngIf="
          newStatementForm.get('amount')?.touched &&
          newStatementForm.get('amount')?.hasError('required')"
          error-message class="error-message">
          Campo obrigatório
        </span>
      </cow-input>

      <cow-select
        formControlName="category"
        hint="Qual categoria este apontamento se encaixa?"
        [options]="options"
        [defaultOption]="{ value: '', label: 'Outros ou Nenhum' }">
        <span *ngIf="
          newStatementForm.get('category')?.touched &&
          newStatementForm.get('category')?.hasError('fetchError')"
          error-message class="error-message">
          Erro ao carregar categorias, é possível editar este novo apontamento novamente no futuro
        </span>
      </cow-select>

      <span
        style="align-self: center;"
        *ngIf="
          newStatementForm.hasError('systemError')
        "
        error-message
        class="error-message">
        Ocorreu algum erro, tente novamente.
      </span>

      <cow-loader
        style="align-self: center;"
        class="loading"
        type="small"
        *ngIf="(isLoading$ | async)">
      </cow-loader>

      <cow-button
        [disabled]="newStatementForm.invalid"
        type="primary">
        <p content>Criar apontamento</p>
      </cow-button>

    </form>
  </div>
</div>
