<div class="container">

  <div class="title">
    <h1>Troca de senha</h1>
    <p>Insira as informações abaixo com cuidado.</p>
  </div>

  <form
    [formGroup]="changePasswordForm"
    (ngSubmit)="handlePasswordChange()">

    <cow-input
      type="text"
      placeholder="Nome de Usuário"
      formControlName="username">
      <span
        *ngIf="
          changePasswordForm.get('username')?.touched &&
          changePasswordForm.get('username')?.hasError('required')
        "
        error-message
        class="error-message">
        Campo obrigatório
      </span>
    </cow-input>

    <cow-input
      type="password"
      placeholder="Palavra Chave"
      hint="Chave criada no cadastro."
      formControlName="secret">
      <span
        *ngIf="
          changePasswordForm.get('secret')?.touched &&
          changePasswordForm.get('secret')?.hasError('required')
        "
        error-message
        class="error-message">
        Campo obrigatório
      </span>

    </cow-input>

    <cow-input
      type="Password"
      placeholder="Nova Senha"
      formControlName="newPassword">
      <span
        *ngIf="
          changePasswordForm.get('newPassword')?.touched &&
          changePasswordForm.get('newPassword')?.hasError('required')
        "
        error-message
        class="error-message">
        Campo obrigatório
      </span>

      <span
        *ngIf="
          changePasswordForm.get('newPassword')?.dirty &&
          (
            changePasswordForm.get('newPassword')?.hasError('minlength') ||
            changePasswordForm.get('newPassword')?.hasError('maxlength')
          )
        "
        error-message
        class="error-message">
        A senha deve ter entre 8 e 32 caracteres.
      </span>

      <span
        *ngIf="
          changePasswordForm.get('newPassword')?.hasError('pattern')
        "
        error-message
        class="error-message">
        Senha não deve ter espaços
      </span>
    </cow-input>

    <span
      *ngIf="
        changePasswordForm?.hasError('wrongCredentials')
      "
      error-message
      class="error-message">
      Dados incorretos, cheque suas credenciais.
    </span>

    <span
      *ngIf="
        changePasswordForm?.hasError('systemError')
      "
      error-message
      class="error-message">
      Erro interno, tente novamente.
    </span>

    <cow-loader
      class="loading"
      type="small"
      *ngIf="(isLoading$ | async)">
    </cow-loader>

    <cow-button
      [disabled]="changePasswordForm.invalid || !!(isLoading$ | async)"
      type="primary">
      <p content>Continuar</p>
    </cow-button>

    <a [routerLink]="['/auth']">Voltar para o login</a>
  </form>

</div>
