<div class="select-control">

  <select
    (blur)="onTouched(null)"
    [ngClass]="{ 'error': (control && control.touched && control.errors) }"
    [disabled]="disabled"
    [(ngModel)]="value">

    <ng-container *ngIf="defaultOption">
      <option [value]="defaultOption.value">
        {{ defaultOption.label }}
      </option>
    </ng-container>

    <ng-container *ngFor="let option of options | keyvalue">
      <option [value]="option.key">
        {{ option.value }}
      </option>
    </ng-container>

  </select>

  <ng-container *ngIf="hint && !(control && control.errors && control.touched)">
    <small>{{ hint }}</small>
  </ng-container>

</div>
