<div class="input-control">
  <input
    [prefix]="prefix ? prefix : ''"
    [suffix]="suffix ? suffix : ''"
    [mask]="mask"
    [dropSpecialCharacters]="removeSpecialCharacters"
    thousandSeparator="."
    decimalMarker=","
    (blur)="onTouched(null)"
    [ngClass]="{ 'error': (control && control.touched && control.errors) }"
    [disabled]="disabled"
    [placeholder]="placeholder ? placeholder : ''"
    [type]="type"
    [(ngModel)]="value" />

    <ng-container *ngIf="hint && !(control && control.errors && control.touched)">
      <small>{{ hint }}</small>
    </ng-container>
  <ng-content></ng-content>
</div>
