<div class="container">
  <h1>Insira suas informações para continuar</h1>

  <form
    [formGroup]="signinForm"
    (ngSubmit)="handleSubmit()">

    <cow-input
      type="text"
      placeholder="Nome de Usuário"
      formControlName="username">
      <span
        *ngIf="
          signinForm.get('username')?.touched &&
          signinForm.get('username')?.hasError('required')
        "
        error-message
        class="error-message">
        Campo obrigatório
      </span>

      <span
        *ngIf="
          signinForm.get('username')?.hasError('wrongCredentials')
        "
        error-message
        class="error-message">
        Nome ou senha incorretos
      </span>
    </cow-input>

    <cow-input
      type="password"
      placeholder="Senha"
      formControlName="password">
      <span
        *ngIf="
          signinForm.get('password')?.touched &&
          signinForm.get('password')?.hasError('required')
        "
        error-message
        class="error-message">
        Campo obrigatório
      </span>
      <span
        *ngIf="
          signinForm.get('password')?.hasError('wrongCredentials')
        "
        error-message
        class="error-message">
        Nome ou senha incorretos
      </span>
    </cow-input>

    <cow-loader
      class="loading"
      type="small"
      *ngIf="(isLoading$ | async)">
    </cow-loader>


    <span
      *ngIf="
        signinForm?.hasError('systemError')
      "
      error-message
      class="error-message">
      Erro interno, tente novamente.
    </span>

    <cow-button
      type="primary">
      <p content>Continuar</p>
    </cow-button>
    <a [routerLink]="['/auth/change-password']">Esqueceu a senha? Clique aqui para recuperar.</a>
  </form>
</div>
