@import "primeng/resources/themes/lara-light-blue/theme.css"
@import "primeng/resources/primeng.css"
@import "primeicons/primeicons.css"

@import reset
@import variables

p, h1, h2, h3, h4, span
  font-family: 'mulish-regular', sans-serif

body
  background: $base-color

input
  border: 1px solid $secondary-color
  outline: none
  border-radius: 5px
  padding: 10px
  font-family: 'mulish-regular', sans-serif
  font-size: 16px

  &:focus-visible
    border: 1px solid $primary-color

a
  font-size: 1rem
  font-family: 'mulish-light', sans-serif
  color: $primary-color
  text-decoration: none
  text-align: center
  &:hover
    cursor: pointer
    color: darken($secondary-color, 20%)

.error-message
  font-size: .8rem
  color: $error-text-color
  font-family: 'mulish-bold', sans-serif

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid rgba(black, .05)
  margin: 1em 0
  padding: 0
